body {
    padding: 1rem;
    min-height: 100vh;
    border: 1rem solid;
    background: #926ea9;
    color: wheat;
    text-align: center;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-family: "Ribeye Marrow", sans-serif;
}
p {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin: 0 0 1.5rem;
}
.t svg {
    display: block;
}
.t use {
    transition: 0.5s;
}
.t:not(.revealed) use {
    fill: darken(#926ea9, 10);
}

use {
    stroke: wheat;
}
.revealed use {
    stroke: transparent;
}

.board {
    max-width: 75vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}
